.fab-profile-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.20);
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow .25s, background .25s;
}

.fab-profile-btn:hover {
  box-shadow: 0 8px 32px rgba(33,150,243,0.28);
  background: transparent;
}

.fab-profile-btn img {
  width: 65px;
  height: 65px;
}
